
SUPABASE_URL="https://vrfrwxbimpmpcbdmybfy.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZyZnJ3eGJpbXBtcGNiZG15YmZ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyMjQ0OTgsImV4cCI6MjA5NzgwMDQ5OH0._kaLHROOvccHecRJlb7f6CwUVD2QCj_ztzpgXgt-TiI"
